PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/psixologik_db"

JWT_SECRET="psixologik-super-secret-jwt-key-2024-change-this"
JWT_EXPIRES_IN="7d"
JWT_REFRESH_EXPIRES_IN="30d"

# Groq API key (https://console.groq.com dan oling - BEPUL)
GROQ_API_KEY="gsk_..."
